/* Style for grid cells */
.rf-tgrid {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin: 1px;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

/* Style for the grid */
.rf-tablestyle {
    border: 2px solid black;
    background-color: #eee;
    cursor: pointer;
}

/* Style for the div containing the grid */
#rf-searchgamecontainer {
    float: left;
    padding-right: 1rem;
}

/* Style for the div containing the word list */
#rf-wordcontainer {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    float: left;
    padding-right: 0.5rem;
    cursor: default;
    margin: 1em 1em 1em 0;
    width: 200px;
    border: 2px solid black;
    background-color: #eee;
    cursor: pointer;
}

/* Style for the words that have been found */
.rf-foundword {
    font-family: Arial, sans-serif;
    text-decoration: line-through;
    color: darkslategray;
}

#rf-tablegrid .rf-armed {
    /* background: lightcyan; */
}

#rf-tablegrid .rf-highlight {
    background: red;
}

#rf-tablegrid .rf-glowing {
    background: gold;
}

#rf-tablegrid .rf-selected {
    background: #00ffff;
}

/* Style for words that didn't make it on the grid */
.rf-pfalse {
    color: #111;
    visibility: hidden;
}

/* Mobile responsiveness */
@media screen and (max-width: 1200px) {
    #rf-searchgamecontainer,
    .rf-tgrid
    #rf-wordcontainer {
        padding: 1rem;
    }
}

@media screen and (max-width: 700px) {
    #rf-searchgamecontainer,
    #rf-wordcontainer {
        padding: 1rem;
    }
}
